body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 20px;
    background: black;
    color: #fff;
    position: fixed;
    width: 95%;
}
.logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    padding: 3px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 25px;
}
.nav-links li a{
    text-decoration: none;
    color:#fff;
    font-size: 19px;
    transition: 0.3s;
}
.nav-links li a:hover{
    color: #ff9800;
}
.hamburger{
    font-size: 35px;
    cursor: pointer;
    display: none;
}
.fit-container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 20px;
    color: #fff;
    background-color: black;
}
.fit-container .world-fit {
    text-align: center;
    align-items: center;
}
.world-fit h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2;
}
.fit-container .world-fit p {
    font-size: 18px;
    line-height: 1.6;
}
.fit-container .fit-btn {
    margin-top: 50px;
}
.fit-container .fit-btn .btn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}
.fit-container .fit-btn .btn a {
    text-decoration: none;
    color: #fff;
    
}
.fit-container .fit-btn .Join {
    background-color: #ff9800;
}
.fit-container .fit-btn .btn:hover {
    background-color: #422d0d;
}
.fit-container .world-fit .experience {
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 130px;
    color: #fff;
}
.fit-container .experience h1 {
    color: #ff9800;
    margin-bottom: 2px;
}
.fit-container .experience .exp-card {
    text-align: center;
}
.fit-container .exp-card p {
    margin-top: 2px;
}
.fit-container .world-fit .fit-img {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
}
.service {
    margin-top: -110px;
    flex-wrap: wrap;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    color: #fff
}
.service .service-info {
    text-align: center;
    position: 10px;
}
.service .service-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service .service-icon .service-box {
    text-align: center;
}
.service .service-box img {
    padding: 6px;
}
.service .service-info h1 {
    font-size: 35px;
}
.service .service-info h4 {
    color: #ff9800;
}
.service .service-info p {
    margin-bottom: 40px;
}
.service .service-info .service-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}
.service .service-btn:hover {
    background-color: #ff9800;
}
.service .service-btn a {
    text-decoration: none;
    color: black;
}
.service .service-box .pic1 {
    background: url(icon/bac1.png)center/cover no-repeat;
}
.service .icon-cont .pic2 {
    background: url(icon/bac2.png)center/cover no-repeat;
}
.service .icon-cont .pic3 {
    background: url(icon/bac3.png)center/cover no-repeat;
}
.service .icon-cont .pic4 {
    background: url(icon/bac4.png)center/cover no-repeat;
}
.service .icon-cont .pic5 {
    background: url(icon/bac5.png)center/cover no-repeat;
}
.service .icon-cont .pic6 {
    background: url(icon/bac6.png)center/cover no-repeat;
}
.story {
    margin: auto;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
    background-color: black;
}
.story h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;

}
.story h2 .highlight {
    color: #ff9800;
}
.story .story-contt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 100px;
}
.story .story-contt .story-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.story .story-img img {
    width: 240px;
    border-radius: 8px;
}
.story .story-img p {
    font-size: 14px;
    margin: 5px;
}
.story .story-contt .story-info {
    max-width: 500px;
    text-align: left;
}
.story .story-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center;
}
.facility {
    text-align: center;
    padding: 10px 20px;
    color: white;
    background-color: black;
}
.facility h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}
.facility h2 span {
    color: #ff9800;
}
.facility-contt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin: auto;
    max-width: 1100px;
}
.facility .facility-contt .line-mini {
    text-align: left;
    display: flex;
    gap: 15px;
}
.facility .line-mini img {
    width: 80px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 22px;
}
.facility .line-mini h4 {
    font-size: 1.1rem;
    margin-bottom: -1px;
}
.facility .line-mini p {
    font-size: 0.9rem;
    line-height: 1.5;
}
.tutors {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    background: black;
    color: #fff;
}
.tutors h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}
.tutors h2 span {
    color: #ff9800;
}
.tutors .tutors-img {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 43px;
    padding: 10px;
}
.tutors .tutors-img img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
}
.Contact {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
    color: #f9f9f9;
    background-color: black;
}
.Contact h2 {
    font-size: 1.7rem;
    margin-bottom: 40px;
}
.Contact h2 span {
    color: #ff9800;
}
.Contact .Contact-contt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Contact .left img {
    width: 600px;
    object-fit: cover;
}
.Contact .Contact-contt .Contact-from {
    flex: 1;
    background-color: #f9f9f9;
    padding: 40px;
    color: black;
    text-align: left;
}
.Contact .Contact-from h3 {
    margin-bottom: 10px;
}
.Contact .Contact-from p {
    margin-bottom: 30px;
}
.Contact .Contact-from input {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.Contact .Contact-from button {
    width: 30%;
    padding: 12px;
    background: #ff9800;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.Contact .Contact-from a {
    text-decoration: none;
    color: black;
}
.Contact .Contact-from button:hover {
    background: #422d0d;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 25px;
    background-color: black;
    color: #f9f9f9;
    text-align: center;
}
footer ul {
    list-style: none;
}
footer li {
    margin-bottom: 15px;
}
iframe {
    border-radius: 10px;
    width: 290px;
    height: 190px;
}
.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgb(40, 37, 37);
    justify-content: space-between;
    padding: 20px 35px;
    color: #f9f9f9;
    background-color: black;
}
.social .imgs {
    display: flex;
    gap: 15px;
}
.social .imgs img {
    width: 45px;
}
.social .dev {
    font-size: 1.2rem;
}
.social .dev span a {
    color: #ff9800;
    text-decoration: none;
}
.social .dev span a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px ) {
    .fit-container {
        flex-direction: column;
    }
    .fit-container .experience h1 {
        margin-top: -40px;
    }
    .fit-container .fit-img img {
        width: 300px;
        max-width: 668px
    }
    .Contact .left img {
        width: 370px;
    }
    .service .service-info{
        width: 280px;
        max-width: 668px;
    }
    .service .service-icon {
        width: 280px;
        max-width: 668px
    }
    .story h2 {
        margin-top: -45px;
    }
    .story .story-contt {
        gap: 10px;
    }
    .facility h2 {
        margin-top: -20px;
    }
    .Contact h2 {
        margin-top: -20px;
    }
    .facility .facility-contt {
        gap: 5px;
    }
    .tutors .tutors-img {
        gap: 7px;
    }
    .logo {
        margin-left: 7px;
    }
    .nav-links{
        flex-direction: column;
        top: 130px;
        right: 20px;
        background-color: #444;
        width: 250px;
        padding: 15px;
        border-radius: 8px;
        display: none;
        position: absolute;
    }
    .nav-links.show {
        display: flex;
    }
    .hamburger {
        display: block;
        font-size: 45px;
        margin-right: 10px;
    }
    .footer {
        flex-direction: column;
    }
    .footer ul {
        margin-left: -40px;
    }
    .social {
        flex-direction: column;
    }
}

